header-height = 60px
search-header-height = 65px

top-fraction = 36vh
bottom-fraction = 64vh

rbw-underline-home-width = 473px

rbw-underline-search-width = 200px
rbw-underline-search-left = 44px

search-results-width = 936px
search-results-header-height = 56px
